.icon-dots img{
    width:111px;
    height: 111px;
   
}

.icon-cube img{
    width:50px;

}

.icon-circle img{
    width:35px ;
}

.icon-zigzag img{
    width: 60px;
}

.icon-plus img{
    width:130px ;

}
.user-image img{
    width: 100%;
}